*.swp
*.pyc
*.pkl
*.py~
*.bak
.pytest_cache
.DS_Store
.idea
.coverage
.coverage.*
__pycache__/
_build/
*.npz
*.pth
.pytype/
.mypy_cache
git_rewrite_commit_history.sh

# Setuptools distribution and build folders.
/dist/
/build
keys/

# Virtualenv
/env
/venv
/venv_sb3

# Personal vs code configs
.vscode

# Videos and configs
videos*/
configs/

*.sublime-project
*.sublime-workspace

.idea

logs*/

.ipynb_checkpoints
ghostdriver.log

htmlcov

junk
src

*.egg-info
.cache
*.lprof
*.prof
*.zip

MUJOCO_LOG.TXT
scp_tesnorboard_files.sh
scp_tesnorboard_files.sh~
